

<form action="/links" method="post">
  <label for="url"> URL </label>
  <input type="text" name="url">
  <label for="title"> Title </label>
  <input type="text" name="title">
  <!-- <label for="SaveLink">Save Link</label> -->
  <input type="submit" value="Save Link"/>
</form>
