<h1>Welcome to Bookmark manager!</h1>

<h3>Please register via the form below:</h3>

<form action = '/register' method = 'post'>
  <label>
    Your email address:
    <input type = 'text' name = 'email'>
  </label>
  <label>
    Your password:
    <input type = 'text' name = 'password'>
  </label>
  <label>
    Confirm your password:
    <input type = 'text' name = 'password_confirmation'>
  </label>
  <input type = 'submit' value = 'Submit'>


</form>
