<h2> Please, add your links here:</h2>
<a href="/links/new">Add link</a>

<ul id='links'>
  <% @links.each do |link| %>
    <li>

      <a href = <%=link.url%> ><%=link.title%></a>

    </li>
    <% end %>
</ul>
